:root {
  --max-width: 1300px;
}

.page-row {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
  box-sizing: border-box;
  padding: 0 5px;
}

main {
  width: 100vw;
  min-height: 100vh;
}

.list-group {
  box-sizing: border-box;
  &.wrap {
    flex-wrap: wrap;
  }
}
