.number_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

  &_cell {
    transition: all 0.3s;
    background-color: #fefefe;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    &:hover,
    &:active {
      opacity: 0.9;
      box-shadow: 0px 0px 10px #333;
    }
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      &:hover,
      &:active {
        color: inherit;
      }
    }
    * {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
    }
    &:global(.complete) {
      background-color: green;
      color: #fefefe;
    }
    &:global(.incomplete) {
      background-color: orange;
      color: #fefefe;
    }
  }
}
