.nav {
  width: 100%;
  & > div {
    display: flex;
    flex-direction: column;
  }
  &_item:global {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    &.active {
      font-weight: bolder;
    }
    &.l2 {
      margin-left: 5px;
    }
  }
}
